html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #ffffff;
  background-color: #010101;
}

#game-area {
  font-size: 1.6rem;
  padding-top: 3rem;
}

.imageArea,
.stats {
  min-height: 30vh;
}

.imageArea {
  background: linear-gradient(80deg, #010101, #4a4a4a);
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

h1 {
  margin-top: 0;
  font-size: 2.4rem;
}

h3 {
  margin-top: 0;
  font-size: 2erm;
}

.items {
  font-size: 2rem;
}
.match-btn {
  width: 12rem;
  border: none;
  border-radius: 3rem;
  padding: 1.2rem;
  background: green;
  border: 3px solid black;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.match-btn:hover {
  background-color: rgb(148, 237, 148);
}

.no-match-btn {
  width: 12rem;
  border: none;
  border-radius: 3rem;
  padding: 1.2rem;
  background: red;
  border: 3px solid black;
  margin-top: 6px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.no-match-btn:hover {
  background-color: rgb(224, 136, 136);
}

/* button:nth-child(2) {
  border: 3px solid rgb(241, 152, 152);
} */

.stats {
  background: #6d6d6d;
  border: 2.5px solid #ffffff;
  border-radius: 3rem 3rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
  text-align: center;
}

.space-y {
  margin: 3rem 0;
}

img {
  width: 100%;
  border-radius: 3rem;
  border: 4px solid #ffffff;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (min-width: 600px) {
  #game-area {
    display: flex;
  }

  .imageArea,
  .stats {
    min-height: 50vh;
  }

  .imageArea {
    border-radius: 3rem;
    transform: translate(-3rem);
    flex: 2;
  }

  .stats {
    flex: 1;
    border-radius: 3rem 0 0 3rem;
    margin-left: 3rem;
    padding-right: 3rem;
  }
}
